<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Třídnice</title>
</head>
<body>

<h1>Třídnice</h1>

<div class="container">
    <form method="post" action="login/">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="vasek@syrovec.cz">

        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Přihlásit se">
    </form>
    <a href="register/">Pokud nemáte účet zaregistrujte se zde</a>
</div>

</body>
</html>